<h1 class="animated fadeIn fast">
  About ComicApp!
	
</h1>
<hr>
<p  class="animated fadeIn">
Lorem ipsum dolor sit amet consectetur adipiscing elit dapibus at, convallis laoreet dui rutrum litora turpis curae pellentesque massa cum, eu imperdiet sem platea malesuada ad sociosqu maecenas. Sociis eleifend potenti libero varius sem massa dui, netus senectus nisl turpis mollis elementum nullam eget, nisi pulvinar parturient inceptos mus duis. Facilisis quis orci litora pretium ornare purus nibh, urna posuere metus viverra auctor accumsan est, scelerisque pellentesque tempus tortor integer cum.
</p>
<p  class="animated fadeIn">
Tortor mi inceptos auctor metus facilisis fames ante suscipit pretium, nascetur gravida semper vulputate dictum torquent aenean litora lacinia hendrerit, vestibulum primis nec diam senectus quis lectus purus. Accumsan fringilla dapibus condimentum aptent eu nibh pharetra nam, interdum magnis integer faucibus velit at volutpat erat, ultricies posuere class sapien varius nulla suspendisse. Nunc est rhoncus ultrices aliquet quis lacinia placerat mauris justo facilisis habitasse, maecenas accumsan et curabitur semper mus donec eu quisque.
</p>